

.type-radio{
	display: none;
	margin: -2% 0 0 14.9%;
	height: 15px;
	
}
.hide{
	display: block;
	margin: -2% 0 0 14.9%;
}
/*.editor{
	display: none;	
	border: 1px solid red ;
}*/
.clear{
	clear:both;
}
/*此处样式不对！*/
.hide-top{
	margin-top: 19px;
}