<div class="sign-main ">
    <a href="index.html">返回</a>
    <form name="sign" method="post">
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">姓名：</div>
            <div class="col-sm-10 col-xs-12">
                <input type="text" name="sname" ng-model="name" placeholder="请输出姓名" required
                       pattern="^[\u4e00-\u9fa5]{2,6}$">
            </div>
            <p ng-if="sign.sname.$error.required && sign.sname.$touched">用户名不可为空!</p>
            <p ng-if="sign.sname.$error.pattern && sign.sname.$touched">用户名为2~6中文!</p>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12  text-right">QQ：</div>
            <div class="col-sm-10 col-xs-12">
                <input type="text" name="sqq" ng-model="qq" placeholder="请输入qq" required pattern="^[0-9]{5,10}$">
            </div>
            <p ng-if="sign.sqq.$error.required && sign.sqq.$touched">qq不可为空!</p>
            <p ng-if="sign.sqq.$error.pattern && sign.sqq.$touched">请输入正确的qq号!</p>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">修真类型：</div>
            <div class="col-sm-10 col-xs-12">
                <div class="sign-radio" ng-repeat="x in types">
                    <label><input type="radio" name="typename" ng-click="stType()" ng-value="$index" ng-model="params.type" > {{params.type}}{{x.type}}</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">毕业院校：</div>
            <div class="col-sm-10 col-xs-12">
                <input type="text" name="sschool" ng-model="school" placeholder="请输入毕业院校" required
                       pattern="^[\u4e00-\u9fa5]{1,10}$">
            </div>
            <p ng-if="sign.sschool.$error.required && sign.sschool.$touched">毕业院校不可为空!</p>
            <p ng-if="sign.sschool.$error.pattern && sign.sschool.$touched">毕业院校为中文!</p>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">资质：</div>
            <div class="col-sm-10 col-xs-12">
                <label><input type="radio" name="talentname" value="0" ng-model="tt" required>学霸</label>
                <label><input type="radio" name="talentname" value="1" ng-model="tt" required>学渣</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">修行等级：</div>
            <div class="col-sm-10 col-xs-12">
                <div class="sign-radio" ng-repeat="x in levels">
                    <label><input type="radio" name="levelname" ng-click="stLevel()" ng-value="$index" ng-model="params.level" >{{x.level}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right">预计入学时间：</div>

            <div class="col-sm-10 col-xs-12">
                <input type="text" name="sjointime" id="selectDate" ng-model="jointime"
                       placeholder="请选择预计入学时间">
            </div>

            <!--<p ng-if="sign.sjointime.$error.required">入学时间不可为空!</p>-->
        </div>
        <div class="row">
            <div class="col-sm-2 col-xs-12 text-right" ng-minlength="10" ng-maxlength="200">修行立愿：</div>
            <div class="col-sm-10 col-xs-12">
                <textarea name="swish" required ng-model="wish"></textarea>
            </div>
            <p ng-if="sign.swish.$error.required && sign.swish.$touched">修行立愿不可为空!</p>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10 ">
                <button class="sign-button-left" type="button" ng-click="signUp()" ng-disabled="sign.$invalid">报名
                </button>
            </div>
        </div>
    </form>
</div>
