*{
	margin: 0;
	padding: 0;
}
body{
	max-width: 720px;
	min-width: 360px;
	padding: 15px;
	background: white;	
}
.title{
	margin-left: 15%;
	font-size: 35px;
	font-weight: bold;
}
input{
	width: 80px;
	height: 35px;
	line-height: 35px!important;
	border-radius: 5px;
	text-align: center;
/*	font-size: 20px;*/
	color: white!important;
	display: block;
}
.over-buttom{
	background: red;
	margin-right: 20px;
	float: right;
}
.message{
	margin: 25px 0;
}
.message span{
	margin: 0 8px;

}
.number{
	
	height: 80px;
	border-top: 1px solid gray;
	overflow: hidden;

}
.public{
	width: 24px;
	height: 24px;
	margin-top:28px;
	border-radius:3px;

	float: left;
}
.n-left{
	background: #f0f0f0;
}
.n-center{
	background: green;
	margin-left: 38%;
}
.n-right{
	background: red;
	float: right!important;
	margin-right: 10%;
}
.check{
	border-top: 1px solid gray;
	padding-top: 25px;	
}
.check input{
	background: #fab344;
}
.hid{
	border-top: 1px solid gray;
	margin-top: 25px;
	padding-top: 25px;

	
}
.hid input{
	background: #21ccaa;
}