
<div class="main">
	<div class="title">
		<div class="decrypt-menu title-left">
			<div class="decrypt-menu-out"><div class="decrypt-menu-inner"></div></div>
		</div>
		<h2>黑夜解密</h2>
		<img class="title-right" src="img/close.png">
	</div>
	<div class="decrypt-content">
		<div class="decrypt-play">
			<div class="decrypt-arrow"></div>
		</div>
		<div class="decrypt-img-outline">		
			<img  src="img/decrypt.png">	
		</div>

		<div class="decrypt-notice" ><span ng-bind="number"></span>号玩家被杀死了，真实身份是水民</div>
		<div class="decrypt-steps">亡灵发表遗言</div>
		<div class="decrypt-arrow-position">
			<div class="decrypt-in-arrow"></div>
			<div class="decrypt-out-arrow"></div>
		</div>

		<div class="decrypt-steps">玩家依次发言讨论</div>

		<div class="decrypt-arrow-position">
			<div class="decrypt-in-arrow"></div>
			<div class="decrypt-out-arrow"></div>
		</div>
	</div>
	<button class="decrypt-button" ng-click="decryptSkip()">确定</button>	
	
</div>	 
