
<div class="main diary-main">
	<div class="title">
		<img class="title-left" src="img/return.png">
		<h2>法官日志</h2>
		<img class="title-right" src="img/close.png">
	</div>
	<div class="diary-main-body">
		<h2 ng-bind="day"></h2>
		<img class="diary-img-hide" src="img/down.png">		
		<div class="diary-main-body-frame">
			<div class="diary-options " ng-repeat="x in blocks">
				<div class="diary-arrow"></div>
				<input type="button" name="" value="{{x}}" ng-click="dSkip()">
			</div>	
		</div>		
		<img class="diary-day" src="img/day.png">
		<img class="diary-day diary-night" src="img/night.png">
	</div>
</div>	 
