
<div class="main end-main">
	<div class="title">
		<img class="title-left" src="img/home.png">
		<h2>游戏结果</h2>
		<img class="title-right" src="img/msg.png">
	</div>
	<div class="end-content">
		<img  src="img/win.png">
		<h1 ng-bind="result"></h1>
		<div class="game-end" ng-show="isshow">
			本轮游戏共抓住幽灵<span ng-bind="ghost"></span>人，共经历<span ng-bind="day"></span>个白天，在游戏中击败了66%的玩家！
		</div>
		<div class="end-game-end" ng-show="!isshow">
			太棒了！你知道么？在捉鬼游戏中只有20%的幽灵取得游戏的最终胜利哦！
		</div>
		<div class="end-msg">
			本次游戏共计用时<span></span>
			</p>
			幽灵<span ng-bind="ghosts"></span>人 &nbsp  &nbsp 水民<span ng-bind="civilians"></span>人</p>
			医生0人 &nbsp  &nbsp 警察0人
		</div>
	</div>
	<div class="end-footer">
		<div class="end-process" ng-repeat="x in days">
			<h4>第<span ng-bind="x"></span>天</h4>
			<div>晚上：<span ng-bind="{{all[2][2*x-2]}}"></span>号被幽灵杀死，<span ng-bind="{{all[2][2*x-2]}}"></span>号是水民</div>
			<div ng-if="all[2][2*x-1]!=undefinrd">晚上：<span ng-bind="{{all[2][2*x-1]}}"></span>号被全民投死，<span ng-bind="{{all[2][2*x-1]}}"></span>号是<span ng-bind="identify[x]"></span></div>		
		</div>
	</div>
	<div class="end-fixed">
		<button class="end-fixed-left" >再来一局</button>
		<button class="end-fixed-right">上传并分享</button>
		
	</div>
</div>	 
