
<div class="main kill-main">
	<div class="title">
		<div class="kill-menu title-left">
			<div class="kill-menu-out"><div class="kill-menu-inner"></div></div>
		</div>
		<h2>杀手杀人</h2>
		<img class="title-right" src="img/close.png">
	</div>
	<div class="kill-msg">
		<p>狙击手请睁眼（狙击手告诉法官是否开枪）,狙击手请选择要击杀对象</p>
		<img src="img/play.png">
		<div class="kill-arrow"></div>
	</div>

	<div class="diary-content" >
		<h3>点击下方玩家头像，对被狙击的玩家进行标记</h3>	

		<div class="diary-card " ng-class="{true:'diary-card-t',false:'diary-card-f'}[className[x]]" ng-repeat="x in all[0]" ng-click="kill()">
			<h2 ng-show="true">{{identify[x]}}</h2>
			<img ng-show="false" src='img/bgd.png'>
			<h4>{{x}}号</h4>
		</div>		
	</div>		

	<button class="diary-button" ng-click="killSkip()">确定</button>

</div>	 

