<div class="main">
	<div class="set-title">
		<img  src="img/return.png">
		<h2>参数设置</h2>
		<div class="set-help">?</div>
	</div>
	<div class="set-content">
		<div class="set-content-top">
			<div  class="palyers-out">
				<div class="set-palyers">玩家配比</div> 
			</div>
			<ul >
				<li>杀手人数:{{killers}}</li>
				<li>水民人数:{{civilians}}</li>
				<li>警察人数:{{polices}}</li>
				<li>医生人数:{{doctors}}</li>
				<li class="set-set" ng-click="numset()">
					点击设置
					<img src="img/set.png">
				</li>
			</ul>		
		</div>
		<div class="set-phrase">
			<div class="set-ghost">水民词组</div>
			<div class="set-ghost">幽灵词组</div>
		</div>
		<div class="set-numbers ">
			<span>玩家人数</span><input class="set-nums" type="" name="" ng-model="nums"></p>
			<button  ng-click="down()">-</button>
			<input type="range" min="4" max="18" ng-model="nums" step="1" name="">
			<button ng-click="up()">+</button>		
		</div>
		<div>
			<input class="set-input" type="submit" name="" value="去发牌"  ng-click="setSkip()">
		</div>
	</div>
</div>	 
