
.home-main h4{
	display: inline-block;
	margin: 3% 0 2% 2%!important ;
}
.home-main .add{
	font-size: 25px;
	margin-left: 65%;
	cursor: pointer;
}
.home-main a{
	display: inline-block;
	margin-left: 67%;
	font-size: 30px;
	font-weight: bold;
	color: black;
	cursor: pointer;
}


.home-main .research{
	width: 80%;
}
.home-main .show{

	cursor: pointer;
}
.home-main th{
	height: 40px;
	width:30%;
	text-align: center!important;
	border:1px solid gray;
	font-size: 16px;	
}
.home-main td{	
	height: 40px;
	text-align: center!important;
	border:1px solid gray;
	font-size: 16px;	
}

.home-main td span{
	line-height: 40px;
	cursor: pointer;
}

.home-main button{
	float: left;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	margin: 20px 0 0 45px!important;

}
.home-main.bottom-cancel{
	display: none;
}
.home-main table{
	margin-left: 3%;
}

.home-main input{
	float: left;
	vertical-align: middle;
	margin-left: 15%;
	margin-top: 14px;
	cursor: pointer;

}
.home-main-td{
	margin-top: 13px;
}