.decrypt-menu{
	width: 22px!important;
	height: 25px;
	border: 1px solid white;
}
.decrypt-menu-out{
	width: 69%;
	height: 13px;
	margin: auto;
	margin-top: 5px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.decrypt-menu-inner{
	width: 100%;
	margin-top: 5px;	
	border-top: 1px solid white;
}

.decrypt-content{

	margin-top: 7%
}
.decrypt-play{
	position: relative;
	float: right;
	width: 50px;
	height: 50px;
	border: 2px solid white;
	border-radius: 25px;
	margin:-2% 7% 0 0 ;
	cursor: pointer;
}
.decrypt-img-outline{
	width: 40%;
	margin: auto;
}

.decrypt-arrow{
	position: absolute;
	top: 28%;
	left: 31%;
	width: 0;
	height: 0; 
	border: 10px solid  #29bde0;
	border-left: 20px solid white;
}

.decrypt-content img{
	width: 100%;
	margin: auto;
}
.decrypt-notice{
	width: 100%;
	height: 150px;	
	margin-top: 7%;
	border-bottom: 1px solid white;
	color: white;
	font-size: 20px;
	line-height: 25px;
	display: inline-block;
	text-align: center;
}

.decrypt-steps{

	width: 60%;
	margin: auto;
	border-radius: 6px;
	color: white;
	font-size: 30px;
	line-height: 45px;
	margin-top: 5%;
	background: #24a7c6;
	text-align: center;
}
.decrypt-arrow-position{
	position: relative;
	width: 30%;
	height: 70px;
	margin: auto;
}
.decrypt-in-arrow{
	position: absolute;
	left: 30%;
	width:0;
	height: 0;	
	border: 32px solid  #29bde0;      
	border-top: 32px solid   #fbb435;
	z-index: 1;
}
.decrypt-out-arrow{	
	position: absolute;
	top: 25%;
	left: 26%;
	width:0;
	height: 0;	
	border: 40px solid  #29bde0;      
	border-top: 40px solid   #fbb435;
	z-index: 9;
}

.decrypt-button{
	width: 70%;
	height: 70px;
	margin: 28px 15%;
	margin-bottom: 15px;
	color: white;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 8px;
	background: #fab344;
	cursor: pointer;
}
/*.clear{
	clear: both;
}*/