
.diary-content{
	width: 94%;
	/*height: 540px;*/
	margin: auto;
	margin-top: 30px;
	margin-bottom:20px;
	overflow: auto;
	/*font-size: 0;*/
}
.diary-card{	
	/*position: relative;*/
	float: left;
	/*width: 125px;*/
	width: 23%;
	/*height: calc(width);*/	
	margin: 4% 4.8%;			
	font-size: 14px;
	color: white;
	overflow: hidden;
	cursor: pointer;
	/*display: inline-block;
	vertical-align: top;*/
}
.diary-card-t{
	border: 2px solid white;
/*	background: #c6ebe7;*/
	background: #76c5e8;
}
.diary-card-f{
	border: 2px solid gray;
	background: gray;
}
.diary-card h2{		
	width: 100%;
	/*padding: 10% 0;*/
	/*height: 81px;*/
	/*margin-top: 0;*/
	/*margin-bottom: 33%;*/
	padding: 12%;
	text-align: center;
	/*line-height: 81px;*/	
	/*font-size: 30px;*/
	font-size: 2.5rem;
	font-weight: bold;
	color: orange;
}

.diary-card img{
	/*position: absolute;
	top: -0.1%;*/
	width: 100%;
	padding:0 18%;
	padding-top: 4px;
	/*margin-bottom: 12%;*/
	text-align: center;
	/*padding: 5px 27px 5px 25px;*/
	background: #76c5e8;

}
.diary-content h4{
	
	/*position: absolute;
	height: 20%;
	bottom: -9.5%;*/
	margin: 0;
	width: 100%;
	text-align: center;
	background: #3da5c6;
}

.diary-button{
	width: 70%;
	height: 70px;
	margin: 20px 15%;
	margin-bottom: 15px;
	color: white;
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 8px;
	background: #fab344;
}
.clear-left{
	clear: left;
}

/*.clear{
	clear: both;
}*/


@media screen and (max-width: 500px){
	.diary-content h4{
	bottom: -12%;

	}
	.diary-card h2{		
	/*font-size: 1.7rem;*/	
	padding: 7%;
	}

}
@media screen and (max-width: 400px){
	.diary-content h4{
	bottom: -14.5%;
	font-size: 14px;
	}
	.diary-card h2{		
	/*font-size: 1.7rem;*/	
	padding: 0%;
	}
}