
.kill-main{
	background: #29bde0;
	height: 1000px;
}
.kill-menu{
	width: 22px!important;
	height: 25px;
	border: 1px solid white;
}
.kill-menu-out{
	width: 69%;
	height: 13px;
	margin: auto;
	margin-top: 5px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.kill-menu-inner{
	width: 100%;
	margin-top: 5px;	
	border-top: 1px solid white;
}


.kill-msg{
	width: 100%;
	/*height: 66px;*/
	font-size: 20px;
	background: #b9e9f5;
}
.kill-msg p{
	width: 75%;
	margin:5px 0 0 10%;
	display: inline-block;
	color: black!important;
}
.kill-msg img{
	float: right;
	width: 8%;
	margin:1.2% 4% 0 0 ;
	cursor: pointer;
}
.kill-arrow{
	position: absolute;
	top: 25%;
	left: 8%;
	width: 0;
	height: 0; 
	border: 10px solid  #29bde0;
	border-top: 20px solid #b9e9f5;
}
.kill-main h3{
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	color: black;
}


@media screen and (max-width: 505px){
	.kill-msg p{
		
	width: 75%;
	margin:5px 0 0 10%;
	font-size: 18px;
	
	}
	.kill-arrow{
	
	top: 24%;
	left: 8%;
	
	}
}

@media screen and (max-width: 420px){
	.kill-msg p{
	width: 75%;
	margin:5px 0 0 10%;
	font-size: 15px;	
	}
	.kill-msg img{
	
	width: 8%;
	margin:2% 4% 0 0 ;
	
	}
	.kill-arrow{
	
	top: 23.4%;
	left: 8%;
	
	}
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              